@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  font-family: $main-font;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.bests-buttons {
  width: auto;
  height: auto;
  padding: 6px;
  border-radius: 50px;
  background-color: $gray-700;
  @include flex(center, space-between);
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.discount-buttons {
  width: auto;
  height: auto;
  padding: 6px;
  border-radius: 50px;
  background-color: $gray-700;
  @include flex(center, space-between);
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  width: auto;
  padding: 4px;
  // height: auto;
  // top: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: $primary;
  font-size: 16px;
}
.swiper-pagination {
  @include center();
  top: unset !important;
  bottom: unset !important;
  right: unset !important;
  left: unset !important;
  position: unset !important;
  padding: 6px 20px;
}

.swiper-pagination-bullet {
  background-color: $primary;
  width: 6px;
  height: 6px;
}

.brands-buttons {
  width: auto;
  height: auto;
  padding: 6px;
  border-radius: 50px;
  background-color: $white;
  @include flex(center, space-between);
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.product-info {
  height: 24px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  // flex-wrap: wrap;

  &_dis {
    color: $white;
    font-size: 10px;
    line-height: 160%;
    padding: 4px 8px;
    border-radius: 24px;
    background-color: $red;

    @include media(375) {
      font-size: 8px;
      line-height: 100%;
    }
  }

  &_new {
    color: $white;
    font-size: 10px;
    line-height: 170%;
    padding: 4px 8px;
    border-radius: 24px;
    background-color: $blue;

    @include media(375) {
      font-size: 8px;
      padding: 4px 8px;
      line-height: 100%;
    }
  }

  &_best {
    color: $white;
    font-size: 10px;
    line-height: 160%;
    padding: 4px 8px;
    border-radius: 24px;
    background-color: $primary;

    @include media(375) {
      font-size: 8px;
      line-height: 94%;
    }
  }

  &_top {
    color: $white;
    font-size: 10px;
    line-height: 160%;
    padding: 4px 8px;
    border-radius: 24px;
    background-color: $green;

    @include media(375) {
      font-size: 8px;
      line-height: 100%;
    }
  }
}
